main {
    line-height: 1.6;
}

header {
    background: var(--background-color);
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}

header a {
    margin: 10px;
}

.Einleitung {
    text-align: center;
}


.container {
    max-width: 800px;
    min-height: 950px;
    margin: 20px auto;
    padding: 40px 60px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.container1 {
    max-width: 800px;
    min-height: 950px;
    margin: 20px auto;
    padding: 40px 60px;
    box-sizing: border-box;
    /*font-family: sans-serif; will er nicht haben? */
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

.container img {
    max-width: 100%; /* Optional: Beschränkt die Bildgröße auf die Containerbreite */
    height: auto; /* Optional: Beibehaltung des Seitenverhältnisses */
    
}

.overflow {
    overflow:hidden
}

.figma {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figma-logo {
    max-width: 100%;
    height: auto;
}

.Dokumentation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dokumentation-logo {
    max-width: 100%;
    height: auto;
}


ul {
    list-style-type: none;
    padding: 0;
}

.section {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
    font-weight:normal;
}

th, td {
    padding: 10px;
}

tr th:first-child, tr td:first-child {
    text-align:left;
}

tfoot {
    background: #eee;
}

.time {
    text-align: right;
}

.headlineTable {
    background: #D0E1C2;
}

.centered {
    text-align: center;
}

.text-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.text-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgEffekt {
    width: 200px; /* Urspruengliche Breite */
    transition: width 0.7s ease, height 0.7s ease;
    overflow: hidden;
}

.imgEffekt:hover {
    width: 100%;
    height: 100%;
}

.divAroundImgEffekt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

dd {
    margin-left: 30px;
}

dt {
    margin-bottom: 10px;
    margin-top: 5px;
}

dl {
    margin: 20px 0;
}

h3 {
    text-align:center;
}

.list-item {
    margin-bottom: 20px;
}

p {
    text-align:justify;
}

.backButton {
    text-align: right;
    padding-top: 20px;
    display: block;
}

@media only screen and (max-width: 880px) {
    .container {
        margin:20px;
    }
}