header {
    background: var(--background-color);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 84px;
    z-index: 100;
}

nav a {
    margin: 0 20px;
    position: relative;
    top: -10px;
    font-size: 25px;
    color: #000;
}

.logoPicture {
    height: 80px;
    margin-top: 10px;
}

#menuRight {
    float: right;
    top: 50px;
    position: relative;
}

nav a[disabled], nav a:hover {
    color: var(--primary-color);
}

.onlySmallMenu {
    display: none;
}

.menuIcon {
    font-size: 18px;
    padding: 5px 0;
}

@media only screen and (max-width: 1600px) {
    nav a {
        font-size: 20px;
        top: -20px;
    }
    .logoPicture {
        height: 60px;
        margin-top: 20px;
    }
    header {
        height:66px;
    }
}

@media only screen and (max-width: 1300px) {
    nav a {
        margin: 0 10px;
        font-size: 16px;
        top: -25px;
    }
    .logoPicture {
        height: 45px;
        margin-top: 25px;
    }
    header {
        height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .onlySmallMenu {
        display: inline;
    }
    #menuRight {
        display: flex;
        justify-content: space-around;
        border-top: 2px solid var(--primary-color);
        background: #E8F5DD;
        position: static;
        width: 100%;
    }
    #menuRight a {
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px 10px;
        margin: 0;
        flex-direction: column;
    }
    #menuRight a[disabled], #menuRight a:hover {
        background: #83B25B;
        color: #E8F5DD;
    }
    nav a {
        top: 0;
    }
    .linkLogo {
        display: flex;
        justify-content: center;
    }
    header {
        height: 126px;
    }
    .logoPicture {
        margin-top: 0;
    }
}