.SpendenkontoAngaben {
    font-size: 0.8em; 
}

.EingerückterText {
    text-indent: 2px;
    width: 1000px; 
}


h3 {
    text-align: center; 
    padding-bottom:20px; 
    }
    
.VerweisText {        
    text-decoration: underline; 
}


.box-containerserviceInfo {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}


.box-containerserviceInfo div {
    width: 50%; 
    box-sizing: border-box;
    padding-bottom: 15px; 
    
}

.box-containerserviceInfo div + div {
    padding-left: 30px;
    padding-right: 30px; 
}

.box-containerserviceInfo div img {
    width: 100%;
    border-radius: 2px;
    padding-left: 0;
}

.ZentrierterButton {
    text-align: center;
}


@media only screen and (max-width: 1600px)
{    
    .box-containerserviceInfo {
        justify-content:center;
        flex-wrap:wrap;
    }

    .TextTrennung {
        column-count: 2;
        text-align: justify;
        column-gap: 30px;   
       
    }
  
    .quadratischesBild {
        display: block; 
       }
    
    .hohesBild {
        display: none; 
    }

    .box-containerserviceInfo div:first-of-type {
        width: 35%;
    }

    .box-containerserviceInfo div:last-of-type {
        width: 65%;
    }

    h3 {
        text-align: left;
    }
    
}

@media only screen and (max-width: 1025px)
{
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    
    .box-containerserviceInfo {
        justify-content:center;
        flex-wrap:wrap;
    }

    .box-containerserviceInfo div:first-of-type, .box-containerserviceInfo div:last-of-type {
        width:calc(50% - 25px); 
    }

   

    .TextTrennung {
        column-count: 1;
        text-align: justify;  
       
    }
  
    .quadratischesBild {
        display: none; 
       }
    .hohesBild {
        display: block; 
    }

    h3 {
        text-align: left;
    }
    
}

/*@media only screen and (max-width: 960px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    .box-containerserviceInfo div {
        width: 100%;
        
    }

    .ZentrierterButton {
        text-align: center; 
    }

    p {
        column-count: 1;
        text-align: justify;  
       
    }
}*/

@media only screen and (max-width: 715px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    

    .box-containerserviceInfo div:first-of-type {
        width: 100%;
    }

    .box-containerserviceInfo div:last-of-type {
        width: 100%;
    }

    .ZentrierterButton {
        text-align: center; 
    }

    .TextTrennung {
        column-count: 2;
        column-gap: 40px; 
        text-align: justify;  
       
    }

    .hohesBild {
        display: none; 
    }

    .quadratischesBild {
        display: block; 
    }

    h3 {
        text-align: center;
    }

   
   
}
    
@media only screen and (max-width: 600px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    .box-containerserviceInfo div:first-of-type, .box-containerserviceInfo div:last-of-type {
        width: 100%;
        
    }


    .TextTrennung {
        column-count: 1;
        text-align: justify;  
       
    }
  
   .hohesBild {
    display: none; 
   }

   .quadratischesBild {
    display: block; 
   }

   h3 {
    text-align: center;
}
    
}

