.SpendenkontoAngaben {
    font-size: 0.8em; 
}

.EingerückterText {
    text-indent: 2px;
    width: 1000px; 
}


.box-containerserviceInfo {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 5px 20px; 
}

.box-containerserviceInfo div {
    width: 50%; 
    box-sizing: border-box;
    padding: 15px; 
}

.box-containerserviceInfo div img {
    width: 100%; 
    border-radius: 2px; 
}


@media only screen and (max-width: 1600px)
{
    
    .box-containerserviceInfo {
        justify-content:center;
        flex-wrap:wrap;
    }
    
    .box-containerserviceInfo div {
        width:calc(50% - 25px); 
    }

    .ZentrierterButton {
        text-align: center; 
    }

    .TextTrennung {
        column-count: 1;
        text-align: justify;  
       
    }

    
}

/*@media only screen and (max-width: 960px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    .box-containerserviceInfo div {
        width: 100%;
        
    }

    .ZentrierterButton {
        text-align: center; 
    }

    p {
        column-count: 1;
        text-align: justify;  
       
    }
}*/

@media only screen and (max-width: 715px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    .box-containerserviceInfo div {
        width: 100%;
        
    }

    .ZentrierterButton {
        text-align: center; 
    }

    .TextTrennung {
        column-count: 2;
        column-gap: 40px; 
        text-align: justify;  
       
    }
}
    
@media only screen and (max-width: 600px) {
    .grid, .gridIndex {
        grid-template-columns: 3% 94% 3%;
    }
    .box-containerserviceInfo div {
        width: 100%;
        
    }

    .ZentrierterButton {
        text-align: center; 
    }

    .TextTrennung {
        column-count: 1;
        text-align: justify;  
       
    }
}

h3 {
text-align: center; 
padding-bottom:20px; 
}

.VerweisText {
    
text-decoration: underline; 
}