.FormUnsereTiere {
    margin-top: 5px;
    margin-bottom: 20px;
}

.außenboxBildwechsel {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-bottom: calc(100%/(3/2));
}

/* Bildwechsel */
a.bildwechsel1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/Lila2.jpg);
    background-size: cover;
    background-position: center;
}
a.bildwechsel1:hover { 
    background-image:url(../img/Lila.jpg);
 }

p {
    font-size: 0.9em; 
}


.box-containerUnsereTiere {
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    gap: 30px 20px;
    z-index: 0; 
  
}

.box-containerUnsereTiere > div {
    width: 30%;
    height: auto; 
    box-sizing: border-box;
    padding-bottom: 10px;
    
}

.box-containerUnsereTiere > div {
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.box-containerUnsereTiere div img ~ *, .box-containerUnsereTiere div div ~ * {
    margin: 10px 15px;
}

.box-containerUnsereTiere div img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #eee;
    width: 100%;
     
}



select {
    font-size: 12px;
    padding:5px;
}

@media only screen and (max-width: 1086px) {
    .box-containerUnsereTiere {
        justify-content:center;
        flex-wrap:wrap;
    }
    .box-containerUnsereTiere > div {
        width:calc(50% - 25px);
    }
}

@media only screen and (max-width: 650px) {
    
    .box-containerUnsereTiere > div {
        width: 100%;
    }
}