.FormUnsereTiere {
    margin-top: 5px;
    margin-bottom: 20px;
}

.außenboxBildwechsel {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding-bottom: calc(100%/(3/2));
}

/* Bildwechsel */
a.bildwechselAllgemein {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/Lila2.jpg);
    background-size: cover;
    
}
 a.bildwechsel1 {
    background-image: url(../img/Lila2.jpg);
 }
 
 a.bildwechsel1:hover { 
    background-image:url(../img/Lila.jpg);
 }

 a.bildwechsel2 {
    background-image: url(../img/tigerpython2.jpg);
 }
 
 a.bildwechsel2:hover { 
    background-image:url(../img/tigerpython.jpg);
 }

 a.bildwechsel3 {
    background-image: url(../img/greta.jpg);
 }
 
 a.bildwechsel3:hover { 
    background-image:url(../img/greta2.jpg);
 }

 a.bildwechsel4 {
    background-image: url(../img/loraJendayasittich.jpg);
 }
 
 a.bildwechsel4:hover { 
    background-image:url(../img/loraJendayasittich2.jpg);
 }

 a.bildwechsel5 {
    background-image: url(../img/simba.jpg);
 }
 
 a.bildwechsel5:hover { 
    background-image:url(../img/simba2.jpg);
 }

 a.bildwechsel6 {
    background-image: url(../img/bella.jpeg);
 }
 
 a.bildwechsel6:hover { 
    background-image:url(../img/bella2.jpeg);
 }
 a.bildwechsel7 {
    background-image: url(../img/rocky.jpg);
 }
 
 a.bildwechsel7:hover { 
    background-image:url(../img/rocky2.jpg);
 }

 a.bildwechsel8 {
    background-image: url(../img/fluffy.jpg);
 }
 
 a.bildwechsel8:hover { 
    background-image:url(../img/fluffy2.jpg);
 }

 a.bildwechsel9 {
    background-image: url(../img/wellensittiche.jpg);
 }
 
 a.bildwechsel9:hover { 
    background-image:url(../img/wellensittiche2.jpg);
 }

 a.bildwechsel10 {
    background-image: url(../img/kornnatter.jpg);
 }
 
 a.bildwechsel10:hover { 
    background-image:url(../img/kornnatter2.jpg);
 }

 a.bildwechsel11 {
    background-image: url(../img/prachtrosella.jpg);
 }
 
 a.bildwechsel11:hover { 
    background-image:url(../img/prachtrosella2.jpg);
 }

 a.bildwechsel12 {
    background-image: url(../img/hoppel.jpg);
 }
 
 a.bildwechsel12:hover { 
    background-image:url(../img/hoppel2.jpg);
 }


p {
    font-size: 0.9em; 
}


.box-containerUnsereTiere {
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    gap: 30px 20px;
    z-index: 0; 
  
}

.box-containerUnsereTiere > div {
    width: 30%;
    height: auto; 
    box-sizing: border-box;
    padding-bottom: 10px;
    
}

.box-containerUnsereTiere > div {
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.box-containerUnsereTiere div img ~ *, .box-containerUnsereTiere div div ~ * {
    margin: 10px 15px;
}

.box-containerUnsereTiere div img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #eee;
    width: 100%;
     
}



select {
    font-size: 12px;
    padding:5px;
}

@media only screen and (max-width: 1086px) {
    .box-containerUnsereTiere {
        justify-content:center;
        flex-wrap:wrap;
    }
    .box-containerUnsereTiere > div {
        width:calc(50% - 25px);
    }
}

@media only screen and (max-width: 650px) {
    
    .box-containerUnsereTiere > div {
        width: 100%;
    }
}