.spaltenText {
    column-count: 1;
    text-align: justify;
}

.h3 {
    font-weight: normal;
    color: var(--color-headlines);
}

p.spaltenText {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
}

input, select, textarea {
    margin: 5px 0;
}

.flex-item1 > div, .flex-item2 > div  {
    margin-top: 10px; 
}

 .flex-containerVermisstefundenmelden {
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: center;  
}

 .fußelementFormular {
    width:100%; 
    text-align: center; 
    margin-top: 15px; 
    margin-bottom: 0px;
 }

 select {
    width: 100%;
    height: 33px;  
    font-size: 1em; 
}

/*select Breite 485.2px=100% Breite der anderen Felder 497.2
12Pixel unterschied also 2,47% Unterschied */
.feldBreite {
    width: 97%;  
    height: 33px; 
}

textarea {
    width: 97%; 
    height: 150px; 
    font-size: 1em; 
}

input {
    font-size: 1em; 
}

input[type="radio"] {
    margin-top: 10px; 
    margin-bottom: 5px;  
}

input[type="radio"]:checked {
    accent-color: var(--primary-color);     
}

@media only screen and (max-width:3000px) {    
    .flex-containerVermisstefundenmelden {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;         
     }    
    .flex-item1 {
        width: 48%; 
        box-sizing: border-box;
        margin-right: 1%; 
        margin-left: 1%
    }
    .flex-item2 {
        width: 48%;
        box-sizing: border-box; 
        margin-left: 1%; 
        margin-right: 1%; 
    }
    .spaltenText { 
        column-count: 2; 
        column-gap: 30px; 
    }
    select {
        width: 100%;
        height: 33px;  
        font-size: 1em;    
    }
    .feldBreite {
        width: 97%;  
        height: 33px; 
    }    
    textarea {
        width: 97%; 
        height: 150px; 
    }
}

@media only screen and (max-width:1900px) {
    .spaltenText { 
        column-count: 2; 
        column-gap: 25px; 
    }
}

/*wenn Bilschirmgröße 900px oder wenger, dann:*/
@media only screen and (max-width:900px) {
    .flex-containerVermisstefundenmelden {
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap; 
        justify-content: center;         
     }    
    .flex-item1 {
        width: 100%; 
    }
    .flex-item2 {
        width: 100%; 
    }
    .spaltenText { 
        column-count: 2; 
        column-gap: 35px; 
    }
    select {
        width: 100%;
        height: 33px;  
        
    }    
    .feldBreite {
        width: 98%;  
        height: 33px; 
    }    
    textarea {
        width: 98%; 
        height: 150px; 
    }
}

/*wenn Bilschirmgröße 715px oder wenger, dann:*/
@media only screen and (max-width: 715px) {    
    .flex-containerVermisstefundenmelden {
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap; 
        justify-content: center;         
     }
    .flex-item1 {
       width: 100%; 
    }
    .flex-item2 {
        width: 100%; 
    }    
    .spaltenText { 
        column-count: 1; 
    }
    select {
        width: 100%;
        height: 33px;      
    }    
    .feldBreite {
        width: 97%;  
        height: 33px; 
    }    
    textarea {
        width: 97%; 
        height: 150px; 
    }
}