.KursivText {
    font-style: italic; 
}

.BoldText {
    font-weight: bold; 
}

.box-containerVermisstGefundenMelden {

    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 5px 5px; 
    margin-bottom: 3%; 
}

.box-containerVermisstGefundenMelden div {
    width: 50%; 
    box-sizing: border-box;
}

.VermisstGefundenText {
    padding-right: 10px;
}

.box-containerVermisstGefundenMelden div p {
    text-align: justify;  
}

.box-containerVermisstGefundenMelden div img {
    width: 100%; 
    border-radius: 2px; 
    padding: 0px; 
}


@media only screen and (max-width: 900px) {
    .box-containerVermisstGefundenMelden {
        justify-content:center;
        flex-wrap:wrap;
    }

    .box-containerVermisstGefundenMelden div {
        width:100%;
    }

    .VerschwindendesBild  {
        display: none; 
    }

    .Zentriert {
        text-align: center; 
    }

}




