.grid > img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#startbilder {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
}

#startbilder::before {
    content: "";
    display: block;
    padding-top: calc(100% / (1920 / 800));
}

.box-container > div {
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@keyframes bilder {
    0% {
        opacity: 1;
    }

    34% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#startbilder img:nth-of-type(1) {
    animation: bilder 9s infinite;
}

#startbilder img:nth-of-type(2) {
    animation: bilder 9s infinite;
    animation-delay: -6s;
}

#startbilder img:nth-of-type(3) {
    animation: bilder 9s infinite;
    animation-delay: -3s;
}

.startbild {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0;
}

.aussenboxBildwechsel {
    padding-bottom: calc(100% / (3 / 1));
}

a.bildwechselWir::before {
    background-image: url(../img/wir.jpg);
}

a.bildwechselWir::after {
    background-image: url(../img/wirSpringend.jpg);
}

.marginTopH2 {
    margin-top: 50px;
}

@media only screen and (max-width: 650px) {
    .aussenboxBildwechsel {
        padding-bottom: calc(100% / (3 / 2));
    }
}